@import url(//fonts.googleapis.com/earlyaccess/hannari.css);

body, html { height:100%; overflow:visible; } 

.vertical {
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  font-family: 'Hannari', serif;
  width: 50vw;
}
