body, html { height:100%; overflow:visible; } 

.vertical {
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.wrapper {box-sizing: border-box; height: 100%; overflow: auto; }
