@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@100;200;300;400&display=swap');

html{
  height:100%
}
body{
  height:100%;
}
.intro{
  height:100%
}

.left{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#e0e0e0;
  height : 100%;
  color : #FFF;

}
.right{
  display : flex;
  justify-content : center;
  align-items : center;
  height : 100%;
  color : #fff;
    
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  
}
@media (max-width: 600px) { 
  .left{
    height:50%
  }
  .right{
    height:50%
  }
}
.about{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#b0ca71;
  color : #FFF;
  font-family: monospace;
  height:100%
}

.vertical {
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  font-family: 'Noto Serif JP', serif;
  font-weight: 200;
  font-size: 4vh;
  padding: 20px 10px;
}



.solitude {width:auto}
.solitude:hover span {display:none}
.solitude:hover:after {content:"Month of Solitude"}

.hatsukoi {width:auto}
.hatsukoi:hover span {display:none}
.hatsukoi:hover:after {content:"初恋フォー"}

.border{
    border: 1px solid white;
}
